
html{
    font-size: 62.5%; /* 10/16=62.5% */
    font-family:"微软雅黑";
}
*{
    margin:0;
    padding:0;
}
body{
    background:#f0eff5;
}
h1,h2,h3,h4,h5,h6{
    text-decoration: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img, input{
    margin:0;
    padding:0;
}

/*     ----------头部条----------     */
.top{
    width: 100%;
    height: 3.5rem;
    background-color: #0894ec;
    position: fixed;
    left:0;
    top:0;
    z-index: 1;
}

.jrl_header{
    min-width: 300px;
    max-width: 640px;
    margin:0 auto;
}
.jrl_header img{
    display: inline-block;
    width: 20%;
    height: 2.5rem;
    vertical-align: -0.5rem;
}
.search{
    width: 40%;
    height: 2.5rem;
    font-size:1.6rem;
    border: medium;
    padding:0 2%;
    margin:0 2%;
    border-radius:0.5rem;
}
.btn{
    width: 16%;
    height: 2.5rem;
    margin:0 2.5%;
    font-size:1.6rem;
    background-color:#e88c0d;
    border-radius:0.5rem;
    border:medium;
}
.mine{
    width: 10%;
    line-height: 3.5rem;
    font-size:1.6rem;
    color:#fff;
    text-align: center;
}


.all{
    min-width: 300px;
    max-width: 640px;
    margin:0 auto;
    box-shadow:0 0 1rem #aaa;
}
.all ul{
    width: 100%;
    background-color:#fff;
    margin:5rem 0;
    border-radius:0.3rem;
}
.all ul li{
    position: relative;
    margin:3rem 0;
}
.all ul li a{
    display: inline-block;
}
.all ul li a img{
    width: 10rem;
    height: 10rem;
    margin:2rem;
    border: 1px solid #ccc;
}
.manager{
    position: absolute;
    left:30%;
    top:2rem;
    font-size: 1.6rem;
    color:#0894ec;
}
.area{
    position: absolute;
    left:30%;
    top:6rem;
    font-size: 1.6rem;
    color:#8d8d8d;
}
.present{
    position: absolute;
    left:30%;
    top:10rem;
    font-size: 1.6rem;
    color:#8d8d8d;
}
 .area span, .present  span{
    font-size: 1.8rem;
    color:#adadad;
    font-weight:bold;
}

